
  <p id="notice"><%= notice %></p>
  <div id="placeholder">

    <h1>Listing Topics</h1>
    <div id="topics_list">
      <ul>
        <% @topics.each do |topic| %>
          <%= render topic %>
        <% end %>
      </ul>
      <br>
    </div>

  </div>

  <%= link_to 'New Topic', new_topic_path, id: :new_topic, remote: true %>
